<div class="home">
  <h1>Welcome to SeancePoint!</h1>
  <p>
    This is a project developed by Emil Georgiev for SoftUni's Angular Exam.
  </p>
  <p>
    Here, as a registered user you will be able to create a public offer for any
    type of seance: Psychology, Astrology, Taro Reading, etc.
  </p>
  <p>Or quite the opposite: Make an appointment for someone's seance offer.</p>
  <p>You are also able to leave a review to express your satisfaction of the user's service.</p>

  <div class="buttons">
    <a routerLink="/auth/register" class="button">Sign Up!</a>
    <a routerLink="/auth/seances" class="button">Check out the published seances</a>
  </div>
</div>
