/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
    background-color: rgb(250, 193, 248);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 90%;
  height: 50%;
  margin: 100px 5%;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

/* responsiveness */

@media (min-width: 800px) {
  html {
      font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
      font-size: 16px;
  }
}

@media (min-width: 1280px) {
  html {
      font-size: 18px;
  }
}
