h1 {
    text-align: center;
    font-size: 2rem;
}

.detail {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}


p {
    text-align: center;
    border-bottom: 1px solid darkorchid;
    width: 200px;
}

.button {
    width: auto;
    padding: 10px;
    margin: 20px;
    position: relative;
    display: inline-block;;
}

.btn-container {
    text-align: center;
    justify-content: space-evenly;
    display: block;
    width: 100%;
}