form.register{
    width: 20%;
    text-align: center;
}

.form-control input {
    border-bottom-color: darkorchid;
}
form.register h2 {
    font-size: 3rem;
    margin-bottom: 100px;
}

.ng-invalid:not(form) {
    border-left: 2px solid red
}
