<!-- Email is required -->
<!--
  Email must match this regex /^\w+@abv.bg$/
  (letter/digit/underscore) + @abv.bg
  I did this solely to demonstrate a validator directive
 -->

<!-- Username is required -->
<!-- Username must match this regex /^\w+$/ -->
<!-- Username should be at least 4 characters -->

<!-- Password is required -->
<!-- Password must match this regex /^\w+$/ -->
<!-- Password should be at least 5 characters -->
<!-- Passwords must match (passwordCheck directive) -->

<!-- Phone is required -->
<!-- Phone must match this regex /^\+359\d{9}$/ -->
<!-- Phone should start with +359 and have 9 digits afterwards -->

<form class="register" #form="ngForm" (ngSubmit)="register(form)">
  <fieldset>
    <h2>Registration</h2>

    <!-- username -->
    <div class="form-control">
      <p class="field field-icon">
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          ngModel
          #username="ngModel"
          [appRegex]="userPassRegex"
          [minlength]="4"
          required
        />
      </p>
      <ng-container *ngIf="username.touched">
        <p *ngIf="username.errors?.['minlength']">
          Username should be at least 4 characters long
        </p>
        <p *ngIf="username.errors?.['required']">Username is required</p>
        <p *ngIf="username.errors?.['regexValidator']">
          Username must contain only letters, digits and underscores
        </p>
      </ng-container>
    </div>

    <!-- email -->
    <div class="form-control">
      <p class="field field-icon">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="E-mail"
          ngModel
          #email="ngModel"
          required
          [appRegex]="emailRegex"
        />
      </p>
      <ng-container *ngIf="email.touched">
        <p *ngIf="email.errors?.['required']">E-mail is required</p>
        <p *ngIf="email.errors?.['regexValidator']">
          Email should have only letters, digits and underscores and should end
          with @abv.bg
        </p>
      </ng-container>
    </div>

    <!-- telephone -->
    <div class="form-control">
      <p class="field field-icon">
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="+359123456789"
          ngModel
          #tel="ngModel"
          required
          [appRegex]="telRegex"
        />
      </p>
      <ng-container *ngIf="tel.touched">
        <p *ngIf="tel.errors?.['required']">Phone number is required</p>
        <p *ngIf="tel.errors?.['regexValidator']">
          Phone number should start with +359 and have 9 digits afterwards
        </p>
      </ng-container>
    </div>

    <ng-container
      ngModelGroup="passGroup"
      #passGroup="ngModelGroup"
      appPasswordCheck
    >
      <!-- password -->
      <div class="form-control">
        <p class="field field-icon">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="******"
            #password="ngModel"
            ngModel
            required
            [minlength]="5"
            [appRegex]="userPassRegex"
          />
        </p>
        <ng-container *ngIf="password.touched">
          <p *ngIf="password.errors?.['required']">Password is required</p>
          <p *ngIf="password.errors?.['regexValidator']">
            Password should contain only letters, digits and underscores
          </p>
          <p *ngIf="password.errors?.['minlength']">
            Password should be at least 5 characters long
          </p>
        </ng-container>
      </div>

      <!-- rePassword -->
      <div class="form-control">
        <p class="field field-icon">
          <input
            type="password"
            name="rePassword"
            id="rePassword"
            placeholder="******"
            ngModel
            #rePassword="ngModel"
          />
        </p>
      </div>

      <ng-container *ngIf="rePassword.touched">
        <p *ngIf="passGroup.errors?.['passwordCheck']">Passwords don't match</p>
      </ng-container>
    </ng-container>

    <button (click)="register(form)" [disabled]="form.invalid">
      Create Account
    </button>

    <p class="text-center">
      Have an account?
      <a routerLink="/auth/login">Login!</a>
    </p>
  </fieldset>
</form>
