

h1 {
    text-align:center;
    font-size: 3rem;
    display: block;
}

.seance-card {
    padding: 25px;
    border-radius: 20px;
    width: 250px;
    height: 150px;
    margin: 10px;
    text-align: center;
    background-color: darkorchid;
    color: #dfdfdf;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.cards-container a {
    font-size: 24px;
}

.button {
    border-radius: 10px;
}
