<form class="login" #form="ngForm">
  <fieldset>
    <h2>Login to SeancePoint</h2>

    <div class="form-control">
      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          class="input-error"
          type="username"
          name="username"
          id="username"
          placeholder="Username"
          ngModel
          #username="ngModel"
          required
        />
      </p>
      <ng-container *ngIf="username.touched">
        <p class="error" *ngIf="username.errors?.['required']">
          Username is required!
        </p>
      </ng-container>
    </div>

    <div class="form-control">
    <p class="field field-icon">
      <label for="password"
        ><span><i class="fas fa-lock"></i></span
      ></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
        ngModel
        #password="ngModel"
        required
        minlength="4"
      />
    </p>
    <ng-container *ngIf="password.touched">
      <p class="error" *ngIf="password.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="password.errors?.['minlength']">
        Password must be at least 4 characters!
      </p>
    </ng-container>
    </div>

    <button [disabled]="form.invalid" (click)="login(form)">Login</button>

    <p class="text-center">
      Have an account?
      <a routerLink="/auth/register">Register</a>
    </p>
  </fieldset>
</form>
