h2 {
    font-size: 2rem;
    margin: 60px auto;
}

form.register{
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control input {
    border-bottom: 2px solid darkorchid;
}

button {
    padding: 20px 40px;
    font-size: 1.25rem;
}

input {
    margin: 10px;
    text-align: center;
}

.ng-invalid:not(form) {
    border-left: 2px solid red
}
