<div class="details-container">
  <h1>{{ currentSeance.title }}</h1>
  <div class="owner-details">
    <p>
      Posted by
      <span
        >{{ currentSeance.postedBy.username }} on
        {{ currentSeance.created_at | date }}</span
      >
    </p>
  </div>
  <div class="owner-buttons" *ngIf="isOwner">
    <button routerLink="/seances/{{ currentSeance._id }}/edit">Edit</button>
    <button (click)="deleteSeance()">Delete</button>
  </div>
  <div class="description">
    <span>{{ currentSeance.description }}</span>
  </div>
  <div class="details">
    <div class="detail">
      Type:
      <span>{{ currentSeance.type }}</span>
    </div>
    <div class="detail">
      Duration:
      <span>{{ currentSeance.duration }} hours</span>
    </div>
    <div class="detail">
      Price:
      <span>{{ currentSeance.price }}$</span>
    </div>
  </div>

  <div class="appointment-con" *ngIf="hasAppointment">
    <h1>You have an appointment for this seance! Have fun :)</h1>
  </div>

  <div
    class="appointment-con"
    *ngIf="isLoggedIn && !isOwner && !hasAppointment"
  >
    <h1>Here you can make an appointment!</h1>
    <form class="appointment" #dateForm="ngForm">
      <div class="form-control">
        <input
          matInput
          [matDatepicker]="picker"
          name="date"
          ngModel
          #date="ngModel"
          placeholder="Date"
          [min]="tomorrow"
          [matDatepickerFilter]="dateFilter"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="true"></mat-datepicker>
      </div>
      <button (click)="appoint(dateForm)">Make an appointment</button>
    </form>
  </div>
</div>

<app-review [isOwner]="isOwner" [seanceId]="currentSeance._id"></app-review>
